extends ../../layout/default.pug

block main
  .container.my-3

    include ../../partial/list-button-users.pug

    .row
      .col-12
        h3 Danh sách bạn bè

    .row
      each user in users
        .col-6
          div(class="box-user")
            div(class="inner-avatar")
              img(
                src=user.avatar
                alt=user.username
              )
            div(class="inner-info")
              div(class="inner-name") #{user.username}
              div(class="inner-buttons")
                button(
                  class="btn btn-sm btn-primary mr-1"
                ) Nhắn tin
                button(
                  class="btn btn-sm btn-secondary mr-1"
                  btn-remove-friend=user.id
                ) Xóa kết bạn